<% provide(:title, "About") %>

<h1>About</h1>

<p>
  PARAGON, A Global Initiative Corporation, is a 501c3 register in the State of Illinois a nonprofit, charitable organization. We provide technical installation training in Audiovisual Network Systems technologies, recruiting and placement services. Our services include multi-media production services and training, global communications and international cultural and recreational partnerships. Our organization partners have included the Veterans Administration and Workforce Innovation and Opportunity Act (WIOA) service provider, businesses and government services. Technology and Engineering associated with STEM programs. Our global business, technology and communication programs enable our partnership to educate, build careers and develop cultural awareness to benefit our communities. Our youth, adults and families share in the opportunities offered by practical learning programs for in-demand careers in national and international markets. Many manufacturing, business, information technology, hospitality, communication industries and energy companies seek skilled personnel, and PARAGON is the first step. PARAGON harnesses resources for people to expand their skills and knowledge, with productive careers in sustainable energy.
  
</p>


<p>
  The Paragon Profile Page is used to register students interested in participating in Global imitative projects supported by Paragon.  Your personal information will be kept strictly confidential and will not be sold, reused, rented, loaned or otherwise disclosed. Any information you give us will be treated with the utmost care and will not be used in ways that you have not consented to, unless you have used our websites in an unlawful manner.
</p>