<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact Paragon with questions about the registation form at the
  <a href="http://paragonagicorp.org/ConDon.html" target="_blank">contact page</a>.
</p>