<% provide(:title, "Home") %>

<h1>Welcome to Paragon</h1>

<div>
    <%= link_to 'About', about_path %>
    <%= link_to 'Help', help_path %>
</div>

<p>
  This is the home page for the
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>