<footer class="footer">
  <small>
      Copyright 2017&nbsp; |&nbsp; Webmaster&nbsp; |&nbsp; Poduced by: 
      <a href="http://www.ICANVISION.COM/" target="blank">ICANVISION</a>
  </small>
  
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><a href="http://paragonagicorp.org/about.html" target="_blank">About Paragon</a></li>
      <li><a href="http://paragonagicorp.org/ConDon.html" target="_blank">Contact Us</a></li>
      <li><a href="http://paragonagicorp.org/" target="_blank">Paragon</a></li>
    </ul>
  </nav>
</footer>